body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  font-size: 14px;
}

#side_heading { 
  font-size: 18px;
}

#main_heading, div#header, div#footer { 
  font-size: 24px;
}

div#header, div#footer {
  text-align: center;
}

div#header {
  background-color: #b2e7ff;
  padding: 20px 0px;
  border-bottom: 2px solid #0ab1ff;
}

div#left_section {
  background: #0ab1ff;
  padding: 25px 10px;
  flex: 25%;
}

ul {
  padding-left: inherit;
}
ul li,a {
  color: white;
  text-decoration: none;
}


div#right_section {
  padding: 20px 0px 0px 20px;
  flex: 75%;
}

div#main_content {
  color: #802525;
}


div#side_content {
  font-size: 12px;
}

div#body {
  display: flex;
}

div#footer {
  padding: 20px 0px; 
  background: #3cff78;
  border-bottom: 2px #0ab1ff;
}
